
<h1>¡ERROR!</h1>
<br><br> @* si, 2 br para 2 espacios *@
<h4>Sus datos ingresados no son correctos: @ViewBag.MensajeError</h4> @*Por alguna razon no muestra el viewbag*@

 <div class="center-container">
    <a class="registro-btn" href='@Url.Action("Login", "Account")'><button>Log In</button></a>
    <a class="registro-btn" href='@Url.Action("RegistroUsuario", "Account")'><button>Registrarse</button></a>
</div>