
<!DOCTYPE html>
<html>
<head>
    <title>Registro de Usuario</title>
 
    @* <script>
        function validarFormulario() {
            // Obtener las contrase침as ingresadas
            var password1 = document.getElementById("password1").value;
            var password2 = document.getElementById("password2").value;

            // Verificar si las contrase침as coinciden
            if (password1 !== password2) {
                alert("Las contrase침as no coinciden.");
                return false; // Evita el env칤o del formulario
            }

            // Verificar los requisitos de contrase침a
            var regex = /^(?=.*[A-Z])(?=.*[!@#$%^&*])(.{8,})$/;
            if (!regex.test(password1)) {
                alert("La contrase침a debe contener al menos 8 caracteres, una letra en may칰scula y un car치cter especial.");
                return false; // Evita el env칤o del formulario
            }

            // Si todo est치 bien, el formulario se env칤a
            return true;
        }
    </script> 
    THIS SHIT AINT WORKIN 游딖游딖游딖
    saque el action="Index" del form. por las dudas lo escribo aca por si termina siendo algo importnate
    *@ 



</head>
<body>

    <h2>Registro de Usuario</h2>
    <form action='@Url.Action("IngresarUsuarioABD", "Home")'  method="post"> 
        <label for="username">Nombre de usuario:</label>
        <input type="text" id="username" name="username" required><br>

        <label for="password1">Contrase침a:</label>
        <input type="password" id="contrase침a1" name="password1" required><br>

        <label for="password2">Repetir Contrase침a:</label>
        <input type="password" id="contrase침a2" name="password2" required><br> 

        <label for="nombre">Nombre para la p치gina :</label>
        <input type="text" id="nombre" name="nombre" required><br>

        <label for="password2">E-mail:</label>
        <input type="text" id="email" name="email" required><br>

        <label for="password2">Tel칠fono:</label>
        <input type="text" id="telefono" name="telefono" required><br>

        <input type="submit" value="Registrar">
    </form> 
   @* Por las dudas lo pongo asi para testear la pagina. Arreglar que se esta pasando al objeto 2 contrase침as*@
</body>
</html>
